# Ignorar node_modules
node_modules/

# Ignorar arquivos de ambiente
.env

# Ignorar logs e arquivos temporários
*.log
*.tmp

# Ignorar arquivos do IDE
.vscode/
.idea/

# Ignorar arquivos de build
dist/
build/